<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns#"
      class="js no-touch progressive-image no-reduced-motion no-edge no-ie css-mask enhanced-xp desktop no-tablet windows no-android no-retina no-safari chrome no-firefox no-iphone no-ipad no-old-mac os" 
      data-layout-name="avail-11-08">

<head>
    <title>Apple</title>
    <meta name="globalnav-store-key" content="SFX9YPYY9PPXCU9KH">
</head>

<body class="page-home ac-nav-overlap globalnav-scrim globalheader-dark" data-anim-scroll-group="body">
    <h1 class="visuallyhidden">Apple</h1>
    
    <!-- Global Header -->
    <div id="globalheader"></div>

    <!-- Script for Global Header -->
    <script id="_ACGH_DATA_" type="application/json"></script>
    <script type="text/javascript" src="/api-www/global-elements/global-header/v1/assets/globalheader.umd.js"></script>
    <script src="/metrics/ac-analytics/2.22.0/scripts/ac-analytics.js" type="text/javascript" charset="utf-8"></script>

    <!-- Main Content -->
    <main class="main" role="main" data-anim-scroll-group="bubble-gum-group">
        <!-- Add main content here -->
    </main>
</body>
</html>
